_theme_packages/*
_drafts/*
_includes/*
_layouts/*
_plugins/*
_posts/*
assets/*

404.html
archive.html
categories.html
pages.html
tags.html
History.markdown
changelog.md
index.md
README.md
screenshot.png
atom.xml
rss.xml
_config.yml
sitemap.txt
cmd.lnk
Rakefile

Thumbs.db
.DS_Store

!.gitkeep

.rbenv-version
.rvmrc
